tut06-01.rng

<?xml version="1.0"?>
<!--
  Example from Section 6 of the RELAX NG Tutorial.

  http://relaxng.org/tutorial-20011203.html
-->
<element name="card" xmlns="http://relaxng.org/ns/structure/1.0">
  <attribute name="name"/>
  <attribute name="email"/>
  <attribute name="preferredFormat">
    <choice>
      <value>html</value>
      <value>text</value>
    </choice>
  </attribute>
</element>
