tut03-01.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Example from Section 3 of the RELAX NG Tutorial.

  http://relaxng.org/tutorial-20011203.html
-->
<element name="addressBook" xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="card">
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="email">
        <text/>
      </attribute>
    </element>
  </zeroOrMore>
</element>
