tut01-01.rng

<?xml version="1.0"?>
<!--
  Example from section 1 of the RELAX NG Tutorial.

  http://relaxng.org/tutorial-20011203.html
-->
<element name="addressBook" xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="card">
      <element name="name">
        <text/>
      </element>
      <element name="email">
        <text/>
      </element>
    </element>
  </zeroOrMore>
</element>
