tut01-04.rng

<?xml version="1.0"?>
<!--
  Example from section 1 of the RELAX NG Tutorial.

  http://relaxng.org/tutorial-20011203.html
-->
<rng:element name="addressBook" xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <rng:zeroOrMore>
    <rng:element name="card">
      <rng:element name="name">
        <rng:text/>
      </rng:element>
      <rng:element name="email">
        <rng:text/>
      </rng:element>
    </rng:element>
  </rng:zeroOrMore>
</rng:element>

