tut10-03.rng

<?xml version="1.0"?>
<!--
  Example from Section 10.1 of the RELAX NG tutorial.

  http://www.relaxng.org/tutorial-20011203.html
-->
<element xmlns="http://relaxng.org/ns/structure/1.0"
	 name="addressBook" ns="http://www.example.com">
  <zeroOrMore>
    <element name="card">
      <element name="name">
        <text/>
      </element>
      <element name="email">
        <text/>
      </element>
    </element>
  </zeroOrMore>
</element>

